*{
    text-align: center;
    font-family: Helvetica, sans-serif;
}
button{
    margin: 10px;
    color:antiquewhite;
    background-color: darkcyan;
    border: #4f4f4f 3px outset;
    padding:10px;
}
button:hover {
    font-weight: bold;
}
body{
    background-color: #f5f5dc;
}
h1{
    color:darkcyan;
}
