*{
    text-align: center;
    font-family: Helvetica, sans-serif;
}
button {
    background-color: darkcyan;
    color: antiquewhite;
    padding: 10px;
    min-width: 140px;
    vertical-align: top;
    box-shadow: 2px 1px 2px gray;
    margin: 8px 10px 8px 10px;
}

button:hover, button:active {
    box-shadow: 0 0 0 white;
    margin: 10px 10px 6px 10px;
}
body{
    /* background-color: #f5f5dc; */
    background-color: azure;
}
h1{
    color:darkcyan;
}

canvas {
    /* padding: 20px; */
}